*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.grid-container {
    background-color: rgb(61, 61, 58);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 10px;
}

.header {
    background-color: rgba(17, 112, 112, 0.827);
    color: a0b9c6;
    font-size: 1.7em;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-areas:
        "aside product-grid product-grid"
        "aside product-grid product-grid"
        "aside product-grid product-grid";
}

.sidebar {
    /* Layout con Flexbox */
    background-color: rgb(195, 215, 215);
    padding-top: 2em;
    grid-area: aside;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    color: rgb(215, 225, 225);
}

.sidebar li a {
    text-decoration: none;
}

.sidebar li a:hover {
    text-decoration: underline;
}

.product-grid {
    background-color: rgba(242, 242, 242, 0.875);
    grid-area: product-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.product-card {
    /* Layout con Flexbox */
    background-color: rgba(226, 229, 228, 0.989);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 15px rgba(0, 0, 0, 0.834);
    border-radius: 2%;
    padding-top: 2em;  
}

.product-card:last-child {
    padding-bottom: 2%;
}

.product-card img {
    background-color: rgb(255, 255, 255);
    height: 20em;
    width: 20em;
    border-radius: 2%;
}

.product-card header,
.product-card p,
.product-card footer {
    padding-top: 1em;
    ;
}

.product-card .precio {
    color: rgb(91, 81, 91);
}

.footer {
    background-color: rgba(11, 42, 50, 0.447);
    min-height: 5em;
    display: flex;
    justify-content: center;
}

.footer a {
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.footer span {
   color: rgb(236, 240, 239);
}

.footer img {
    display: inline-block;
    height: auto;
    width: 50px;
}
